<h1>Alphablog</h1>
<p style="color:blue;"> Seja bem vindo ao Alphablog, este blog começou no dia 21/03/2017 por Lucas, faltando duas semanas para p1 do oitavo semestre da pd</p>
<%= link_to "home", root_path %>