<body style="background-color:black;"
<h1 style="color:white;"> Alpha</h1>
<h2 style="color:white;"> Alpha</h2>
<p style="color:white;"> <strong>Seja bem vindo ao Alphablog</strong></p>
<%= link_to "about",about_path %>
</body>